
{% include 'admin_header.html' %}

	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="page-content">
					<div id="content">
						<div class="post">
							<h2 class="title"><a href="#">Employee Registration Form</a></h2>
							<br>
							<form action="/save" method="post">
								Emp ID: <input type="text" name="txtEmpID" class="form-control">
								Name: <input type="text" name="txtName" class="form-control">
								Email ID:<input type="email" name="txtEmailID" class="form-control">
								Mobile NO:<input type="text" name="txtMobileNO" class="form-control">
								Designation:<input type="text" name="txtDesignation" class="form-control">
								Salary:<input type="text" name="txtSalary" class="form-control">
								<br> 
								<input type="submit" value="Registration" class="btn btn-warning">

							</form>


						</div>
						<div style="clear: both;">&nbsp;</div>
					</div>
					<!-- end #content -->
					<div id="sidebar">
						<ul>
							<li>
								<center>
								<img src="/static/images/admin.jpeg" width="130px">
								</center>
								<hr>
								<center><h3>Administrator</h3></center>
							</li>
							<li>

							</li>
							<li>

							</li>
							<li>

							</li>
						</ul>
					</div>
					<!-- end #sidebar -->
				</div>
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyright (c)2024 lakshitsolution.com. All rights reserved. Design by Laksh IT Solution</p>
</div>
<!-- end #footer -->
</body>
</html>
