
{% include 'header.html' %}

	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="page-content">
					<div id="content">
						<div class="post">
							<h2 class="title"><a href="#">Search Employee</a></h2>
							<form action="/admin_emp_searchprocess" method="post">
							<hr>
							<b>Enter the Name:</b> &nbsp;<input type="text" name="txtName"><br>
							<hr>
							<input type="submit" value="Search" class="btn btn-success">
                            </form>
						</div>
						<div style="clear: both;">&nbsp;</div>
					</div>
					<!-- end #content -->
					<div id="sidebar">
						<ul>
							<li>
								<center>
								<img src="/static/images/admin.jpeg" width="130px">
								</center>
									<hr>
								<center><h3>Administrator</h3></center>
								<br><br><br><br><br><br><br><br><br><br><br><br>
							</li>
							<li>

							</li>
							<li>

							</li>
							<li>

							</li>
						</ul>
					</div>
					<!-- end #sidebar -->
				</div>
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyright (c)2024 lakshitsolution.com. All rights reserved. Design by Laksh IT Solution</p>
</div>
<!-- end #footer -->
</body>
</html>
